<!-- nav start  -->
<header>
  <ul>
    <h3><a href="/">{{ site.admin }}</a></h3>
    <li><a href="/" style='{% if page.layout == 'home' %}background-color: #ddd;{% endif %}'>home</a></li>
    <li><a href="/postlist/" style='{% if page.title == 'Postlist' or page.layout == 'post' %}background-color: #ddd;{% endif %}'>blog</a></li>
    <li><a href="/archive/" style='{% if page.layout == 'archive' %}background-color: #ddd;{% endif %}'>archive</a></li>
    <li><a href="/category/" style='{% if page.layout == 'category' %}background-color: #ddd;{% endif %}'>category</a></li>
    <li><a href="/about/" style='{% if page.layout == 'page' %}background-color: #ddd;{% endif %}'>about</a></li>
    <li><a href="/search/" style='{% if page.layout == 'search' %}background-color: #ddd;{% endif %}'>search</a></li>
  </ul>
</header>
<!-- nav end  -->
