---
layout: default
permalink: /archive/
title: archive
---

<!-- archive start  -->
<div class="archive">
    <ol>
          {% for post in site.posts %}
      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
      {% if month != nmonth %}
        {% if forloop.index != 1 %}

        {% endif %}
      <p>{{ post.date | date: '%B %Y' }}</p>
      {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
</div>
<!-- archive ends  -->
