---
layout: default
---
<!-- notice start  -->
<div class="notice">
  <p> {{ content }}</p>
  <div class="contacts ">
      <a href="https://www.sololearn.com/Profile/7968452" target="_blank">
         <img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" />
      </a>
      <a href="https://steamcommunity.com/profiles/76561198202353850/" target="_blank">
          <img alt="Steam" src="https://www.flaticon.com/premium-icon/icons/svg/1241/1241011.svg"/>
      </a>
      <a href="https://github.com/PixelHobbit" target="_blank">
          <img alt="Github" src="https://image.flaticon.com/icons/svg/25/25231.svg" />
      </a>
      <a href="https://space.bilibili.com/33571988/#/index" target="_blank">
          <img alt="Blibli" src="https://steamuserimages-a.akamaihd.net/ugc/954087182942574811/F24CC12369630CB47FF2245D443AEB9CE266869B/" />
      </a>
  </div>
</div>
<!-- notice end  -->
